.catalog-item {
  margin-top: 143px;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 20px;
  width: 263px;
  height: 229px;
  text-align: center;
  box-sizing: border-box;
}

.catalog-item:hover .catalog-item-img img{
  transform: scale(1.1);
}
.catalog-item:hover .catalog-item-img-top img{
  transform: scale(1.1);
}
.catalog-item-img {
  margin-top: -60px ;
}
.catalog-item-img img {
  transition: all .3s ease;
}
.catalog-item-img-top img {
  transition: all .3s ease;
}

.catalog-item-img-top {
  margin-top: -66px ;
}

.catalog-item h3 {
  margin-top: 48px;
  font-size: 18px;
  font-family: 'Tavolga', sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}
.catalog-items-action {
  display: flex;
  padding: 26px 21px 0 21px;
  justify-content: space-between;
}
.catalog-items-info {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0;
}
.catalog-item button {
  border-radius: 25px;
  padding: 20px 30px;
  font-size: 16px;
  line-height: 10px;
}

/*320 - 375*/
@media screen and (max-width: 375px ) {
  .catalog-item:first-child {
    margin-top: 125px;
  }
  .catalog-item {
    margin-top: 140px;
  }
}
